.rectangle {
  height: 15%;
  width: 100%;
  position:absolute;
  background-color: #828c51;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

body {
  background-color: #a6b96f
}

h1 {
  position: relative;
  color: #3e443c
}

.container {
  /*
  height: 20vh;
  */
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a6b96f;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  
  display: block;
  margin: 0 auto;
}
.stationary-image, .image {
  justify-content: center;
  display: inline-block;
  margin: 0 auto;
}
.image:focus, .image:hover {
  animation: wobble 0.10s linear 100;
}

@keyframes wobble {
  0% {
    transform: translateX(0) rotate(0);
  }
  20% {
    transform: translateX(-10px) rotate(-20deg);
  }
  30% {
    transform: translateX(10px) rotate(20deg);
  }
  50% {
    transform: translateX(-10px) rotate(-10deg);
  }
  60% {
    transform: translateX(10px) rotate(10deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

.startButton {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 25px 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}

.pauseButton {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 25px 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}

.cancelButton {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  padding: 25px 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  display: block;
  border-radius: 12px;
}

.startButton,.pauseButton:hover {
  background-color: rgb(101, 101, 104); /* Change background color on hover */
}

.cancelButton:hover {
  background-color: rgb(167, 14, 14); /* Change background color on hover */
}